.app-header {
  display: flex;
  align-items: end;
  padding:20px;
  justify-content: space-between;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.logo {
  margin-left:-20px;
  font-size: 1.3rem;
  font-weight: bold;
  background-color:whitesmoke;
  padding:30px 70px 10px 30px;
  border-top-left-radius: 15px;
}
.logo-health {
  color: aqua;
}
.search-bar{
  display: flex;
  align-items: center;
  padding:10px 20px;
  border:1px solid whitesmoke;
  border-radius:10px;
  margin-left: 10px;
}
.search-icon{
  font-size: 1rem;
  color:gray;
  padding: 1px 10px 1px 5px;
}
.search-bar input {
  border: none;
  font-weight: 1.2rem;
  width: 390px;
  background-color: white;
  outline:none;
}
.notification{
  font-size: 1.2rem;
  color:rgb(117, 1, 211);
}
.icons {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-right: 33px;
  background-color:rgb(250, 248, 248);
  padding:30px 10px 0 379px;
  border-top-right-radius: 15px;
}
.user {
  width: 40px;
  height: 36px;
  border-radius: 10px;
  background-color: aqua;
}
.add-button {
  width: 40px;
  height: 35px;
  font-size: 1rem;
  background-color:rgb(117, 1, 211);
  color: white;
  border: none;
  border-radius: 10px;
  font-weight:bold;
}

/* media Quires laptop Styles */
@media (max-width: 1024px) {
  .app-header {
    padding: 15px;
    justify-content: space-between;
  }
  .logo {
    font-size: 1.2rem;
    margin-left:-20px;
    font-weight: bold;
    background-color:whitesmoke;
    padding:30px 72px 10px 30px;
    border-top-left-radius: 15px;
  }
  .search-icon{
    margin-left: 10px;
  }
  .search-bar input {
    width: 300px;
  }
  .notification {
    font-size: 1rem;
  }
  .icons {
    gap: 15px;
    margin-left: 10px;
    background-color:rgb(250, 248, 248);
    padding:35px 5px 8px 315px;
    border-top-right-radius: 15px;
  }
  .user, .add-button {
    width: 35px;
    height: 30px;
  }
}

/* media Quires tablet Styles */
@media (max-width: 768px) {
  .app-header {
    padding: 10px;
  }
  .logo {
    background-color: white;
    margin-left:0;
    padding:0;
    border-top-left-radius: 0;
  }
  .search-icon{
    padding: 0;
  }
  .search-bar {
    padding: 1px 5px;
  }
  .search-bar input {
    font-size: 0.75rem;
    width: 360px;
  }
  .notification {
    font-size: 0.9rem;
    margin: 10px 0;
  }
  .icons {
    gap: 15px;
    margin-right: 0;
    background-color:white;
    padding:0;
    border-top-right-radius:0;
  }
  .user, .add-button {
    width: 38px;
    height: 34px;
  }
}

/* media Quires Mobile Styles */
@media (max-width: 480px) {
  .app-header{
    column-gap:30px;
    align-items: center;
  }
  .logo {
    font-size: 1rem;
    background-color: white;
    margin-left:0;
    padding:0;
    border-top-left-radius: 0;
  }
  .search-icon{
    padding: 0;
  }
  .search-bar {
    padding: 0px 5px;
  }
  .search-bar input {
    font-size: 0.65rem;
    width: 300px;
  }
  .notification {
    font-size: 0.8rem;
  }
  .icons {
    gap: 10px;
    margin-right: 0;
    background-color:white;
    padding:0;
    border-top-right-radius:0;
  }
  .user, .add-button {
    width: 35px;
    height: 30px;
  }
}