.dashboard{
    display:flex;
    flex-direction:row;
    flex:auto;
    align-items: baseline;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: space-evenly;
    margin-top: -20px;
    border-bottom-right-radius: 15px;
}
.health-details{
    display:flex;
    flex-direction:column;
}
.appointment-details{
    display:flex;
    flex-direction: column;
    background-color: rgb(250, 248, 248);
    padding:0 15px;
}

/* media queries laptop Styles */
@media (max-width: 1024px) {
    .dashboard{
        margin-top: -5x;
    }
    .health-details{
        max-width:430px;
    }
    .appointment-details{
        max-width:375px;
        padding-bottom: 20px;
        margin-left: -2px;
    }
}

/* media queries tablet Styles */
@media (max-width: 768px) {
    .dashboard{
        display:flex;
        flex-direction:column;
        align-items: center;
        padding-top: 6px;
        margin-top: 0;
        border-bottom-right-radius:0;
    }
    .appointment-details{
        background-color: white;
        padding:0;
    }
}

/* media queries mobile Styles */
@media (max-width: 480px) {
    .dashboard{
        display:flex;
        flex-direction:column;
        margin-top: 0;
        border-bottom-right-radius:0;
    }
}